header {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,109,1) 77%, rgba(255,0,185,1) 100%);
    position: absolute;
    top: 0px;
    height: 3rem;
    width: 100vw; 
    z-index: 10;
}

header ul {
    text-align: center;
}

header ul li {
    display: inline-block;
    padding-right: 5rem;
    
}

header ul li a {
    color: white;
    text-decoration: none;
    padding-top: 1rem ;
}

header span img {
    position: absolute;
    top: 0rem;
    left: 1rem;
    top: 0.4rem;
}

header ul li a i {
    margin-right: 0.5rem;
}

header ul li a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}
main {
     margin-top: 4rem;
     margin-left: 2rem;
     margin-right: 2rem;
 }

 .carousel{
    margin: 0 auto;
    animation-name: carouselAnim;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    position: relative;
    width: 100%;
    height: 600px;
}


@keyframes carouselAnim {
    0% {background-image: url("../imagens/perfumaria.jpg");
        background-repeat: no-repeat;
        background-size: cover;}
    33% {background-image: url("../imagens/perfumaria2.jpg");
        background-repeat: no-repeat;
        background-size: cover;}
    66% {background-image: url("../imagens/banners.png");
        background-repeat: no-repeat;
        background-size: cover;}
    100% {background-image: url("../imagens/perfumaria.jpg");
        background-repeat: no-repeat;
        background-size: cover;}

}

h1 {
    text-align: center;
}